/* CSS Custom Properties Definitions */

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-nanum: "NanumSquare", "나눔고딕", "MontserratVariable", system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --fontFamily-mont: "MontserratVariable";
  --font-body: var(--fontFamily-nanum);
  --font-heading: var(--fontFamily-nanum);
  --font-menu: var(--fontFamily-mont);
  --fontWeight-normal: 400;
  --fontWeight-bold: 700;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --color-primary: black;
  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #d1dce5;
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-5);
  color: var(--color-heading-black);
}

h2 {
  font-size: var(--fontSize-4);
}

h3 {
  font-size: var(--fontSize-3);
}

h4 {
  font-size: var(--fontSize-2);
}

h5 {
  font-size: var(--fontSize-1);
}

h6 {
  font-size: var(--fontSize-0);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin: var(--spacing-0);
  padding: var(--spacing-0);
  list-style-position: outside;
  list-style-image: none;
  list-style: none;
}

ul li,
ol li {
  padding: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

/* Link */

a {
  color: var(--color-primary);
}

a:hover,
a:focus {
  text-decoration: none;
}

/* Custom classes */
.global-wrapper {
  position: relative;
  min-height: 100vh;
}

.global-header {
  position: sticky;
  top: 0;
  width: 100%;
  font-size: var(--fontSize-7);
  margin: 0;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  padding: 0 var(--spacing-3);
  background-color: #ffffff;
  z-index: 1;
  line-height: var(--spacing-16);
}

.global-header a {
  font-size: var(--fontSize-1);
  text-decoration: none;
  color: #000000;
}

.main-heading {
  display: flex;
  margin: 0 auto;
}

.logo {
  display: flex;
}

.logo a {
  height: 54px;
}

.logo img {
  margin-right: var(--spacing-4);
  width: 98px;
  height: 54px;
}

.menu {
  margin: var(--spacing-0) var(--spacing-10);
  display: flex;
}

.menu a {
  font-family: var(--font-menu);
  color: #525252;
  margin: var(--spacing-0) var(--spacing-5);
}

main {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
}

.post-list-item {
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-8);
}

.post-list-item p {
  margin-bottom: var(--spacing-0);
}

.post-list-item h2 {
  font-size: var(--fontSize-3);
  font-weight: normal;
  color: var(--color-primary);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-0);
}

.post-list-item header {
  margin-bottom: var(--spacing-4);
}

.post-list-item .tags {
  padding: var(--spacing-5) 0;
  display: flex;
}

.post-list-item .tags span {
  padding: var(--spacing-2) var(--spacing-3);
  margin-right: var(--spacing-3);
  border: 1px solid orange;
  border-radius: var(--spacing-8);
  color: orange;
}

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: var(--fontSize-2);
}

.bio {
  display: flex;
  margin: var(--spacing-10) 0;
}

.bio p {
  margin: 0;
  padding: 0;
  line-height: var(--spacing-8);
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  width: var(--spacing-16);
  height: var(--spacing-16);
  border-radius: 100%;
}

.blog-post {
  word-break: break-word;
}

.blog-post header {
  border-bottom: 1px solid #dddddd;
  margin-bottom: var(--spacing-4);
}

.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.blog-post header h2 {
  color: var(--color-text-light);
}

.blog-post header p {
  font-size: var(--fontSize-1);
  font-family: var(--font-heading);
  margin-bottom: var(--spacing-5);
}

.blog-post-nav ul {
  margin: var(--spacing-0);
}

.blog-post section p {
  margin-bottom: var(--spacing-8);
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}

.footer {
  text-align: center;
  padding: var(--spacing-2);
  border-top: 1px solid #eeeeee;
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
  .global-header {
    padding: var(--spacing-3);
  }
  .main-heading {
    display: block;
  }
  main {
    overflow: hidden;
    padding: var(--spacing-0) var(--spacing-5);
  }
  .menu {
    margin: 0 0 0 var(--spacing-6);
    line-height: var(--spacing-8);
  }
}
