/* CSS Custom Properties Definitions */

:root {
  --fontFamily-noto: "Noto Sans Cjk Kr";
  --fontFamily-poppins: "Poppins";
  --color-primary: black;
  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #d1dce5;
}

/* HTML elements */
@font-face {
  font-family: var(--fontFamily-poppins);
  src: url(../src/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: var(--fontFamily-noto);
  src: url(../src/fonts/Noto_Sans_KR/NotoSansKR-Regular.otf);
  unicode-range: U+AC00-D7A3;
}

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  font-size: 1rem;
}

body {
  font-size: 1rem;
  color: #222222;
  font-family: var(--fontFamily-poppins), var(--fontFamily-noto);
}

* {
  font-family: inherit;
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  line-height: 1.1;
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #1a202c;
}

h1 {
  font-weight: 900;
  font-size: 2rem;
  color: #222222;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  line-height: 1.625;
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-position: outside;
  list-style-image: none;
  list-style: none;
}

ul li,
ol li {
  padding: 0;
  margin-bottom: calc(2rem / 2);
}

li > p {
  margin-bottom: calc(2rem / 2);
}

li *:last-child {
  margin-bottom: 0;
}

li > ul {
  margin-left: 2rem;
  margin-top: calc(2rem / 2);
}

blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * 1.5rem);
  margin-right: 2rem;
  padding: 0 0 0 1.5rem;
  border-left: 0.25rem solid var(--color-primary);
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 2rem;
}

blockquote > :last-child {
  margin-bottom: 0;
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: 2rem;
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

/* Link */

a {
  color: var(--color-primary);
}

a:hover,
a:focus {
  text-decoration: none;
}

/* Custom classes */
.global-wrapper {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
}

.global-header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 3.5rem 0;
  margin: 0;
  display: flex;
  background-color: #ffffff;
  z-index: 1;
}

.global-header a {
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  color: #222222;
}

.main-heading {
  margin: 0 auto;
  width: 48rem;
  display: flex;
  justify-content: space-between;
}

.logo,
.menu {
  display: flex;
  align-items: center;
}

.logo a {
  line-height: 1.5rem;
  font-size: 1.5rem;
  font-weight: 800;
}

.menu a {
  line-height: 1.5rem;
  margin-right: 2rem;
  font-size: 1.125rem;
  font-weight: 600;
  color: #7c7c7c;
}

.menu a.active {
  color: #222222;
  border-bottom: 2px solid #222222;
}

main {
  margin: 0 auto;
  max-width: 48rem;
  padding-bottom: 10rem;
}

main ol li {
  padding: 0;
  margin: 0;
}

main ol li:last-child .post-list-item {
  border: none;
}

.banner {
  position: relative;
  width: 100%;
  height: 360px;
}

.banner .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48rem;
  max-width: 100vw;
  font-size: 3rem;
  font-weight: 800;
  color: #222222;
}

.banner .text .red {
  color: #ec2428;
}

.post-list-item {
  padding: 5rem 0;
  border-bottom: 2px solid #f4f4f4;
}

.post-list-item p {
  margin-bottom: 1.25rem;
  color: #666666;
  font-size: 1.125rem;
  font-weight: 500;
}

.post-list-item h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #303030;
  margin: 0;
}

.post-list-item header {
  margin-bottom: 2rem;
}

.post-list-item .tags {
  display: flex;
  margin-bottom: 1.5rem;
}

.post-list-item .tags a {
  text-decoration: none;
}

.post-list-item .tags span,
.tag-box span {
  padding: 0.25rem 0.625rem;
  margin-right: 0.625rem;
  border-radius: 0.25rem;
  border: 1px solid #fbb196;
  background-color: #fff3ee;
  color: #ff875b;
  font-size: 0.875rem;
  font-weight: 700;
}

.post-list-item .tags span.gray,
.tag-box span.gray {
  border: 1px solid #c3c3c3;
  background-color: #f6f6f6;
  color: #7d7d7d;
}

.post-list-item small {
  font-size: 1.125rem;
  font-weight: 400;
  color: #9a9a9a;
}

.header-link-home {
  font-weight: 700;
  text-decoration: none;
  font-size: 1.2rem;
}

.bio {
  display: flex;
  margin: 2.5rem 0;
}

.bio p {
  margin: 0;
  padding: 0;
  line-height: 2rem;
}

.bio-avatar {
  margin-right: 1rem;
  margin-bottom: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}

.blog-post {
  word-break: break-word;
}

.blog-post header {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 1rem;
}

.blog-post header h1 {
  margin: 0 0 1rem 0;
}

.blog-post header h2 {
  color: var(--color-text-light);
  margin-top: 1.5rem;
}

.blog-post header p {
  font-size: 1rem;
  margin-bottom: 1.25rem;
}

.blog-post-nav ul {
  margin: 0 0 2rem 0;
}

.blog-post section p {
  margin-bottom: 2rem;
}

.tag-box {
  width: 48rem;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  margin-top: 2.5rem;
  padding: 4rem 4.5rem;
}

.tag-box span {
  font-size: 1.2rem;
}

.tag-box h1 {
  padding: 0;
  margin:1rem 0 0 0;
  color: #303030;
  font-size: 3.75rem;
  font-weight: 800;
}

.gatsby-highlight {
  margin-bottom: 2rem;
}

.footer {
  text-align: center;
  padding: 3.25rem 0;
  background-color: #f9f9f9;
  color: #9d9d9d;
  font-size: 1.25rem;
  position: absolute;
  width: 100vw;
  bottom: 0;
}

.footer .bold {
  font-weight: 600;
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: 0 0 0 1rem;
    margin-left: 0;
  }
  ul,
  ol {
    list-style-position: inside;
  }
  .global-header {
    padding: 1.75rem 1rem;
  }
  .banner {
    height: 180px;
    margin: 0;
  }
  .banner .text {
    max-width: calc(100vw - 3rem);
    font-size: 1.2rem;
  }
  .main-heading a {
    font-size: 1rem;
  }
  .logo img {
    width: 50px;
    margin-bottom: 0.1rem;
  }
  .logo a {
    line-height: 0.75rem;
    margin-left: 0.5rem;
  }
  .menu a {
    line-height: 0.75rem;
    margin-right: 1rem;
  }
  main {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 5rem;
  }
  .post-list-item {
    padding: 2rem 0;
  }
  .post-list-item header {
    margin-bottom: 1rem;
  }
  .post-list-item h2 {
    font-size: 1rem;
  }
  .post-list-item p,
  .post-list-item small {
    font-size: 0.75rem;
  }
  .post-list-item .tags span,
  .tag-box span {
    font-size: 0.5rem;
  }
  .tag-box {
    max-width: calc(100vw - 3rem);
    border-radius: 1.25;
    margin-top: 1.25rem;
    padding: 2rem 2.5rem;
  }
  .tag-box h1 {
    font-size: 1.8rem;
  }
  .footer {
    max-width: 100vw;
    padding: 1.6rem;
    font-size: 0.8rem;
  }
}
